
.main-content{
	width: 50%;
	/* border-radius: 20px; */
	/* box-shadow: 0 5px 5px hsla(300, 93%, 50%, 0.933); */
	margin: 5em auto;
	display: flex;
	/* background-color:#614a5a; */
}
.company__info{
	background-color: #36212e;
	/* border-top-left-radius: 20px;
	border-bottom-left-radius: 20px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: hsl(315, 98%, 53%);
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	/* .login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	} */
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:hsl(330, 98%, 61%);
}
.login_form{
	background-color: #614a5a;
	/* border-top-right-radius:20px; */
	/* border-bottom-right-radius:20px; */
	border-top:1px solid #ff10b7;
	/* border-right:1px solid #ccc; */
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #ff34c2;
	box-shadow: 0 0 5px rgba(247, 14, 188, 0.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#ff28be;
	font-weight: 600;
	background-color: #ffffff;
	border: 1px solid #fc15e8;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: hwb(300 5% 3%);
	color:#fff;
}